.actions {
    margin-top: 16px;
    display: flex;
    gap: 0.6rem;
}
.single-book {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page .card-image {
    aspect-ratio: 1 / 1.34;
}
.card-img,
.card-img img {
    mix-blend-mode: multiply;
}

.--right,
.--left {
    overflow: hidden;
 }

.--left .page {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, .4);


}
.--right .page {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, .4);


}

.--left .page {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, .4);


}